.navbar{
	background-color: rgba(126, 119, 119, 0.189);
    display: flex;
    justify-content: space-between;
}
.navbar h1{
    font-weight: bold;
    font-size: 3vh;
    align-self: center;
    padding-left: 5vh;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal li{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: 1s;
}

.menu-horizontal:hover{
    background-color: rgb(32, 34, 32);
    transition: 1s;
}



.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: azure;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}