.login_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_form_container {
	width: 60vh;
	height: 80vh;
	display: flex;
	border-radius: 2px;
	box-shadow: 0 0.088em 1.550em rgb(52, 55, 55);
}

.left {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	background-color: rgba(0, 0, 0, 0.189);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: -4vh;
	font-weight: bold;
	padding-bottom: 15px;
	color: #5d5959d0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	background-color: #edf5f325;
	margin: 1.8vh;
	font-size: 14px;
	color: wheat;
}


.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.right {
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #3bb19b;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

h3{
	color: rgba(114, 111, 106, 0.566);
}


.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: #b13b3b;
	color: white;
	margin: 10px;
}